# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Python libraries
*.pyd
*.exp

# Cppimport Files
*.cppimporthash

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# WASM outputs
*.js
*.wasm

_site/
.jekyll-cache/
.jekyll-metadata

# Assembler View
*.s


.vscode/